extends ../layout/index

block content
  div.py-10
    h1.text-center.text-4xl.my-10.font-extrabold.text-white
      | Admin Dashboard

    div.text-center.mb-4
      a.text-white.font-extrabold(href="/logout" class="bg-customGreen3 py-2 px-4 rounded-lg hover:bg-customGreen4 inline-block") Cerrar Sesión

    div.overflow-x-auto.overflow-y-auto.max-h-96
      table.mx-auto.max-h-96.w-full.table-fixed.border-collapse.border.border-gray-800
        thead
          tr
            th.px-4.py-2.text-white.bg-customGreen2.font-semibold.sticky.top-0
              | USUARIO
            th.px-4.py-2.text-white.bg-customGreen2.font-semibold.sticky.top-0
              | CORREO
            th.px-2.py-2.text-white.bg-customGreen2.font-semibold.sticky.top-0
              | DIRECCIÓN
            th.px-2.py-2.text-white.bg-customGreen2.font-semibold.sticky.top-0
              | TOTAL DE COMPRAS
            th.px-4.py-2.text-white.bg-customGreen2.font-semibold.sticky.top-0
              | DETALLES DE LAS COMPRAS
        tbody
          each user in usersWithPurchases
            if user.UserPurchases.length
              tr
                td.px-4.py-2.border.text-white.bg-customBlue12.text-center
                  | #{user.name}

                td.px-4.py-2.border.text-white.bg-customBlue12.text-center
                  | #{user.email}

                td.px-4.py-2.border.text-white.bg-customBlue12.text-center
                  | #{user.address}

                td.px-4.py-2.border.text-white.bg-customBlue12.text-center
                  | #{user.UserPurchases.length}

                td.px-4.py-2.border.text-white.bg-customBlue12
                  ul
                    each purchase in user.UserPurchases
                      li
                        | Total Pagado: #{purchase.totalPayment}, Descripción: #{purchase.description || 'N/A'}, Fecha: #{purchase.createdAt ? purchase.createdAt.toLocaleDateString() : 'N/A'}

  style.
    /* Estilos CSS personalizados */
    .sticky {
      position: sticky;
      top: 0; 
      z-index: 1;
    }

    /* Asegurar el desplazamiento vertical */
    .overflow-y-auto {
      display: block;
    }